<% layout("/layouts/boilerplate")-%>
<!-- <%= success %> -->
<body>
  <section class="" >
   <div class="carousal ">
       <div class="list">
       
        <div class="item">
          <img src="assest\burger.avif" alt="" srcset="">
          <div class="content">
            <div class="author"> Dish </div>

                <div class="topic">Burger </div>
                <div class="des">
                  Grilled patty in a bun with veggies.
                                </div>
                <div class="buttons">
                    <button class="button-62">book now</button> 
                </div>

          </div>
        </div>
        <div class="item">
          <img src="assest\dosa.avif" alt="" srcset="">
          <div class="content">
                 
                <div class="author"> Dish </div>
                <div class="topic"> Dosa </div>
                <div class="des">
                  Crispy South Indian rice crepe.                </div>
                <div class="buttons">
                    <button class="button-62">book now</button> 
                </div>

          </div>
        </div>
        <div class="item">
          <img src="assest\4.avif" alt="" srcset="">
          <div class="content">
            <div class="author"> Dish </div>

                <div class="topic"> Pizza</div>
                <div class="des">
                  Cheesy, baked flatbread with toppings.                </div>
                <div class="buttons">
                    <button class="button-62">book now</button> 
                </div>

          </div>
        </div>
        <div class="item">
          <img src="assest\cake.avif" alt="" srcset="">
          <div class="content">
            <div class="author"> Dish </div>

                <div class="topic"> Cake</div>
                <div class="des">
                  Sweet, baked dessert with frosting.                </div>
                <div class="buttons">
                    <button class="button-62">book now</button> 
                </div>

          </div>
        </div>
       </div>
  
   <div class="thumbnail">
    <div class="item">
      <img src="assest\burger.avif" alt="" srcset="">
      <div class="content">
        <div class="title">

Burger        </div>
      </div>
    </div>
    <div class="item">
      <img src="assest\dosa.avif" alt="" srcset="">
      <div class="content">
        <div class="title">
          Dosa
        </div>
      </div>
    </div>
    <div class="item">
      <img src="assest\4.avif" alt="" srcset="">
      <div class="content">
        <div class="title">
          Pizza
        </div>
        
      </div>
    </div>
    <div class="item">
      <img src="assest\cake.avif" alt="" srcset="">
      <div class="content">
        <div class="title">
           Cake
        </div>
        <div class="des">
                </div>
      </div>
    </div>
   </div>
 
   <div class="arrows">
    <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
    <button id="next"><i class="fa-solid fa-angle-right"></i></button>
   </div>
    <div class="time"></div>
  </div>
  
  </section>
  <div class="container ">
    <h3 class=" text-center"> All Pizzas</h3>

   <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1  justify-content-center ">
    <% for(let listing of allListing){ %>

    <a href="/listings/<%= listing._id %>" class="
      link ">
    
  
   <div class="card ">
    <img src="<%= listing.image.url %>" class="card-img-top " alt="listing_image" style= "height: 20rem;">
    <div class="card-body">
      <p class="card-text heading mb-2">
         <b><%= listing.title %></b> <br> 
      </p>
      <p class="card-text mb-2">
       <%= listing.description %>   <br>
     </p>
     <p class="card-text mb-2">
     &#8377; <b><%= listing.price %>  </b>
   </p>
       </div>
  </div>
</a>
<% } %>

</div>
</div>
</body>

