<% layout("/layouts/boilerplate")-%> 
<!-- <%= success  %> -->


<body>
   <div class="row">
    <div class="col-8 offset-2"> 
      <h3> <%= listing.title %></h3>
   <div class="">
    <img src="<%= listing.image.url %>" class="card-img-top " alt="listing_image" style=" height: 20rem;"> <br>
    <div class="card-body">
      <p class="card-text">
         <b><%= listing.title %> </b> <br> 
        <%= listing.description %> <br>
        &#8377; <%= listing.price %> <br>
        <%= listing.location %> <br>
        <%= listing.country %>
    </div>
   </div>

   <div class="d-flex ">
  <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary mx-2">Edit Item</a>
  <form  method="post" action="/listings/<%= listing._id %>?_method=delete">
    <button class="btn btn-danger">Delete Item</button>

  </form>
   </div>
    <hr>
     <div class=" my-2"> 
      <h4> leave a Review</h4>
        <form action="/listings/<%=listing.id %>/reviews" method="POST" novalidate>
    <!-- <div class="mb-3">
      <label for="Rating" class="form-label">Rating</label>
      <input type="range" min="1" max="5" class="form-range" id="Rating" placeholder="name@example.com" name="review[rating]"  required>
    </div> -->
      <div class="mb-3">
        <label for="Rating" class="form-label">Rating</label>

    <fieldset class="starability-slot">

      <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
    </div>
    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea class="form-control" id="comment" rows="3" name="review[comment]" required></textarea>
      <div class="invalid-feedback">
        please add some comment for review
              </div>
    </div>
    <button type="submit" class="btn btn-outline-dark">submit</button>
  </form>
  <hr>
 <% if(listing.reviews.length > 0 ) { %>

<div class="row">
  <h4>All review</h4> <br>

  <% for(review of listing.reviews){ %>
    <div class="card col-6" >
      <div class="card-body" style="border:1px solid black;">
        <h5 class="card-title">taruna</h5>
        <p class="starability-result card-text" data-rating="<%= review.rating %>">
        </p>
        <p class="card-text"> <%= review.comment %> </p>
        <!-- <a href="#" class="btn btn-primary"><%= review.rating %></a> -->
       
        <form method="post"  action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" >
          <button  class=" btn btn-danger"> delete</button>     
         </form>
      </div>
     
    </div>
    <% } %>

  </div>
  
  <%} %>
</div>
<div> 
  <div id="map"></div>

</div>
    <!-- <% for(review of listing.reviews){ %>
      <p> <%= review.comment %>  <br>
        <%= review.rating %></p>
    <% } %> -->

  </div>

 
  </div>

  

</body>
<!-- <script src="/js/map.js"></script> -->
